.todolist-cont{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    /* background-color: teal; */
}
.complete{
    text-decoration: line-through;
}








.add {
    position: absolute;
    background-color: yellowgreen;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;
    left: 93%;
    cursor: pointer;
}